<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Nail Salon</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="shortcut icon" href="../../favicon.ico">
</head>
<body>
<header>
    <nav>
        <div class="home">
            <!-- Link for authenticated users -->
            <a sec:authorize="isAuthenticated()"
               th:href="@{/my-appointments}">
                <img src="/images/nailslogo.png" alt="logo">
            </a>


            <!-- Link for unauthenticated users -->
            <a sec:authorize="!isAuthenticated()"
               th:href="@{/}">
                <img src="/images/nailslogo.png" alt="logo">
            </a>


            <a sec:authorize="hasRole('EMPLOYEE')"
                th:href="@{/add-design}"
               th:text="#{nav_bar_add_design}"
              >
                Add Design</a>

            <a sec:authorize="hasRole('ADMIN')">
                <div class="dropdown">
                    <button class="logout dropbtn" th:text="#{nav_bar_admin}">Admin<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a th:href="@{/add-service}" th:text="#{nav_bar_add_service}">Add Service</a>
                        <a th:href="@{/banned-employees}" th:text="#{nav_bar_firing}">Firing</a>
                        <a th:href="@{/applicants}" th:text="#{nav_bar_hiring}">Hiring</a>
                    </div>
                </div>
            </a>

        </div>

        <div class="links">

            <li>
                <div class="dropdown">
                    <button class="logout dropbtn" th:text="#{nav_bar_about}">About<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a th:href="@{/about-us}" th:text="#{nav_bar_about_us}">About Us</a>
                        <a th:href="@{/services}" th:text="#{nav_bar_services}">Services</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/careers}"
                           th:text="#{nav_bar_careers}">Careers</a>
                    </div>
                </div>
            </li>


            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" th:text="#{nav_bar_login}">Login</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/register}" th:text="#{nav_bar_register}">Register</a>
            </li>

            <li>
                <a th:href="@{/gallery}" th:text="#{nav_bar_gallery}">Gallery</a>
            </li>

            <li sec:authorize="isAuthenticated()">
            <div class="dropdown">
                <button class="logout dropbtn" th:text="#{nav_bar_appointments}">Appointments<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a th:href="@{/appointments/make-appointment}" th:text="#{nav_bar_make_appointment}">Make Appointment</a>
                    <a th:href="@{/my-appointments}" th:text="#{nav_bar_my_appointments}">My Appointments</a>
                    <a sec:authorize="hasRole('EMPLOYEE')" th:href="@{/pending-appointments}" th:text="#{nav_bar_awaiting_approval}">Awaiting Approval</a>
                    <a sec:authorize="hasRole('EMPLOYEE')" th:href="@{/todays-appointments}" th:text="#{nav_bar_for_today}">For Today</a>
                </div>
            </div>
            </li>

            <li sec:authorize="isAuthenticated()">
                <form
                        th:method="POST"
                        th:action="@{/logout}" >
                    <input class="logout" type="submit" th:value="#{nav_bar_logout}">
                </form>
            </li>

            <li>
                <form th:method="GET">
                    <label class="text-white" for="lang" style="font-size: 0.6em"
                    th:text="#{nav_bar_language}">
                        Language</label>
                    <select
                            id="lang"
                            name="lang"
                            onchange="this.form.submit()"
                            style="font-size: 0.5em">
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                    </select>
                </form>
            </li>

        </div>
    </nav>
</header>
<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            &copy; Gabriela Koleva. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>