<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main style="margin-top: 1em">

    <div class="welcome careers-welcome mt-1 mb-4">
        <div class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">
                <div class="careers-bg-container">
                    <div class="careers-bg"></div>
                    <div class="bg-overlay"></div>
                    <div class="text-overlay">
                        <h1><span>N A I L</span> <span class="tease">T E A S E</span></h1>
                        <h1>IT’S A CULTURE.</h1>
                        <p>It's not just a job. It's a revolution.</p>
                    </div>
                </div>

                <hr class="my-3 bg-white w-75 glow mx-auto"/>

                <div class="flex-container-careers">

                    <div class="flex-parts text-content tc-2-careers"></div>

                    <div class="map-container-career mx-1 flex-parts map2">
                        <div class="text-bellow-address-right-careers text">
                            <p>Why Nail Tease? If you ask our Team Members (the incredible people working with us), you’ll find a variety of reasons.</p>

                            <p class="part-two-of-health">For some, it’s about being part of an organisation that’s shaking up a stale industry. For others, it’s our commitment to our employees’ growth, wellness, and happiness. Not to mention, we’re rapidly becoming recognised for our workplace culture and ethics. </p>
                            <p>If you want to become a part of a positive and collaborative working team which will encourage and guide you in elevating yours skills and techniques as a nail artist, join us now!</p>
                            <span class="btn-join-us"><a class="text button" href="/apply-job">JOIN US</a></span>
                        </div>
                    </div>
                </div>

        </div>

    </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
