<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
<!--    <div class="container bg-blur rounded mt-5 ">-->
    <div class="welcome">
        <h1>Welcome to "Nail Tease" beauty salon</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Experience beauty and empowerment with Nails Tease's premium nail care services and clean products. Our app is especially designed for your convenience. Here you can explore the work of our professional nail artists and once you've been convinced that's the place for you,
            your appointment will be only a click away!
        </p>
        <hr class="my-3 bg-white w-75"/>

        <h3>
            <a class="primary-text" href="/login">Login</a>
            if you have an account or
            <a class="primary-text" href="/register">Register</a>
            now and check our designs.
        </h3>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>